@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid white;   /* boşken beyaz border */
  background: transparent;   /* içi boş */
  opacity: 1;                /* default opaklık kalsın */
}

.custom-pagination .swiper-pagination-bullet-active {
  background: white;         /* aktifken içi beyaz dolu */
}


:root {
  --background: #F3F3F3;
  --foreground: #171717;
  --button-bg:#0071dc;
  --primary: #007aff;
  --light-text: #b7b7b7; 
  --light-hover: #7e7e7e;
  --hover-primary: #0160b8;
  --hover-dark: #18509b;
  --yellow: #ffc220;
  --brown: #803d10;
  --red: #FF4647;
  --green: #548753;
  --border: #00000024;
  --shadow-custom: 0 2px 5px 0 rgba(50, 50, 105, .15),
                   0 1px 1px 0 rgba(0, 0, 0, .05);
}

.container {
  max-width: 90%;
  margin-inline: auto;
  padding-inline: 24px ;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
main{
  margin-top: 85px;
  min-height: 100vh;
}
